:root{
    --bg: #080808;
    --fg: #bdbdbd;
    --blue: #80a0ff;
    --green: #8cc85f;
    --red: #ff5454;
    --purple: #cf87e8;
    --greenBt: #36c692;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg);
    color: var(--fg);
}

header {
    background: #1a1a1a;
    color: #bdbdbd;
    padding: 1rem;
    text-align: center;
}

input[type="text"] {
    padding: 0.5rem;
    margin: 1rem;
    width: 80%;
    max-width: 30rem;
    border: 0.1rem solid var(--greenBt);
    border-radius: 0.2rem;
    background: var(--fg);
    color: var(--bg);
}

button{
    background: #949494;
    color: var(--bg);
}

#testcase-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testcase {
    background: #323437;
    color: var(--purple);
    padding: 1rem;
    margin: 0.5rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
    h3{
        color: var(--blue);
    }
    button{
        background: var(--fg);
        color: var(--bg);
    }
}

.testcase:hover{
    box-shadow: 0rem 0rem 1rem rgba(54, 198, 146, 0.8);
}

.testcase img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

#case-info {
    display: block;
    text-align: center;
    padding: 2em;
    align: center middle;
    h1 {
        color: var(--green);
    }
    h2, h3{
        background: var(--blue);
        color: var(--bg);
        width: 10rem;
        margin: 0 auto;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 0.5rem var(--green);
    }
}

table {
    text-align: center;
    margin: auto;
    th {
        padding: 1em;
        background: #323437;
        color: #cecece;
    }
    td {
        padding: 1em;
    }
}

section {
    margin: auto;
}

a {
    color: var(--greenBt);
    text-decoration: none;
}
a:hover{
    color: var(--purple);
}
a:visited{
    color: var(--purple);
}

.case-info-img {
    display: block; /* Ensure proper rendering */
    max-width: 50rem; /* Ensure it scales within the container */
    width: 50rem; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    margin: 2rem auto; /* Center the image */
    border: 0.1rem solid var(--fg);
}

#btd {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    padding: 2em 4em 2em 4em;
    border-radius: 1rem;
    background: var(--fg);
    color: var(--bg);
}
#btd:hover{
    background: var(--green);
}
