body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #080808;
    /* background-color: #f4f4f4; */
    color: #bdbdbd
}

header {
    background: #1a1a1a;
    color: #bdbdbd;
    padding: 1rem;
    text-align: center;
}

input[type="text"] {
    padding: 0.5rem;
    margin: 1rem;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #bdbdbd;
    color: #080808;
}

button{
    background: #949494;
    color: #080808;
}
#testcase-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testcase {
    background: #323437;
    color: #bdbdbd;
    padding: 1rem;
    margin: 0.5rem;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.testcase:hover{
    box-shadow: 0px 0px 10px rgba(140, 200, 95, 0.8);
}

.testcase img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#case-info {
    display: block;
    text-align: center;
    padding: 5rem;
}

table {
    text-align: center;
    margin: auto;
    th {
        padding: 1em;
        background: #323437;
        color: #cecece;
    }
    td {
        padding: 1em;
    }
}

section {
    margin: auto;
}

.case-info-img {
    display: block; /* Ensure proper rendering */
    max-width: 100%; /* Ensure it scales within the container */
    width: 600px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Rounded corners */
    margin: 20px auto; /* Center the image */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}
