:root{
    --bg: #080808;
    --fg: #bdbdbd;
    --blue: #80a0ff;
    --green: #8cc85f;
    --red: #ff5454;
    --purple: #cf87e8;
    --greenBt: #36c692;
    --black: #323437;
    --blackBright: #949494;
    --yellow: #e3c78a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg);
    color: var(--fg);
}

/* .main-header{ */
/*     background-image: linear-gradient(to-bottom, var(--black), var(--bg)); */
/*     text-align: center; */
/* } */

@keyframes title-blink {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 1rem var(--greenBt);
    }
}

.main-header {
    background-image: url("assets/wp.jpg");
    /* background-image: linear-gradient(to right, var(--greenBt), var(--black), var(--bg), var(--black), var(--greenBt)); */
    color: #bdbdbd;
    padding: 1rem;
    text-align: center;
    max-height: 5%;

    h1{
        font-size: 42px;
        font-weight: bold;
        height: auto;
        /* text-shadow: 0 0 1rem var(--greenBt); */
        animation: title-blink linear both;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    h2{
        font-family: "Dancing Script", cursive;
        font-size: 2rem;
        font-weight: bold;
        height: auto;
        /* text-shadow: 0 0 1rem var(--greenBt); */
        animation: title-blink linear both;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}

input[type="text"] {
    padding: 0.5rem;
    margin: 1rem;
    width: 80%;
    max-width: 30rem;
    border: 0.1rem solid var(--greenBt);
    border-radius: 0.2rem;
    background: var(--fg);
    color: var(--bg);
}

.testCaseBtn{
    background: var(--blackBright);
    color: var(--bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: var(--bg);
    transition: all 0.3s;
}
.testCaseBtn:hover{
    transform: translateY(-0.3rem);
    border-color: var(--green);
}

#testcase-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testcase {
    background: var(--black);
    color: var(--purple);
    padding: 1rem;
    margin: 0.5rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease, transform 0.3s ease;
    h3{
        color: var(--blue);
    }
    button{
        background: var(--fg);
        color: var(--bg);
    }

}

.testcase:hover{
    box-shadow: 0rem 0rem 1rem rgba(54, 198, 146, 0.8);
    transform: scale(1.02);
}

.testcase img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

#case-info {
    display: block;
    text-align: center;
    padding: 2em;
    align: center middle;
    h1 {
        color: var(--green);
    }
    h2, h3{
        background: var(--blue);
        color: var(--bg);
        width: 10rem;
        margin: 0 auto;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 0.5rem var(--green);
    }
    h4{
        border: 0.1rem solid var(--blue);
        width: 15rem;
        margin: 1rem auto;
        padding: 0.2rem;
        border-radius: 1rem;
    }

}
#case-info .data-header {
    width: auto;
    background-image: url("assets/wp.jpg");
    /* background-image: linear-gradient(to right, var(--blue), var(--black), var(--bg), var(--black), var(--blue)); */
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(5rem) scale(0.8);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.contentSection {
    /* opacity: 0; /1* Initially hidden *1/ */
    background-color: #121212;
    transform: translateY(1rem); /* Move down */
    transition: opacity 0.6s ease, transform 0.6s ease;
    min-height: 10rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--yellow);
    margin: 2rem 0 2rem 0;
    padding: 1rem 0 0 0;
    animation: fade-in linear both;
    animation-duration: 2s;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.contentSection img,
.case-info-img {
    display: block; /* Ensure proper rendering */
    max-width: 100%; /* Ensure it scales within the container */
    width: 50rem; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    margin: 2rem auto; /* Center the image */
    border: 0.1rem solid var(--fg);
}

.table-container{
    width: 100%;
    overflow-x: auto;
}
.contentSection table{
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    th {
        padding: 1em;
        background: #323437;
        color: #cecece;
        height: 2.5em;
    }
    td {
        padding: 1em;
        height: 1em;
    }
}

section {
    margin: auto;
}

a {
    color: var(--greenBt);
    text-decoration: none;
}
a:hover{
    color: var(--purple);
}
a:visited{
    color: var(--yellow);
}

/* .case-info-img { */
/*     display: block; /1* Ensure proper rendering *1/ */
/*     max-width: 100%; /1* Ensure it scales within the container *1/ */
/*     width: 50rem; /1* Set a fixed width *1/ */
/*     height: auto; /1* Maintain aspect ratio *1/ */
/*     margin: 2rem auto; /1* Center the image *1/ */
/*     border: 0.1rem solid var(--fg); */
/* } */

#btd {
    display: inline-block;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--green);
    background: var(--bg);
    color: var(--green);


    transition: all 0.3s;
}
#btd:hover{
    transform: scale(1.1);
    border: 0.1rem solid var(--green);
    box-shadow: 0rem 0rem 0.5rem var(--green);
}
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .math-responsive mjx-container {
        overflow-x: auto;
        display: block;
        max-width: 100%;
        white-space: normal;
        padding: 1rem;
    }
}
